.b-about-course {
    padding: 20px 70px;
    color: transparentize($white, .1);

    &.blacked {
        background-color: $black;
        padding: 99px 169px 52px;
        color: $white;

        @media(max-width: $mediumDesctop) {
            padding: 50px;
        }

        @media(max-width: $mobile) {
            padding: 30px 15px;
        }
    }

    @media (max-width: $mediumDesctop) {
        padding: 0;
    }

    .about__label {
        font-family: 'OpenSans-Bold';
        font-size: 1.5em;
        text-transform: uppercase;
        padding-bottom: 47px;

        @media (max-width: $mobile) {
            padding-bottom: 30px;
        }

        &.padding-left {
            padding-left: 34px;

            @media(max-width: $mobile) {
                padding-left: 0;
            }
        }
    }

    .hold__plan {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        .plan__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 33% 0;
            padding-right: 20px;
            margin: 0 0 52px;

            @media (max-width: $desctop) {
                flex: 50% 0;
                padding-right: 50px;
            }

            @media (max-width: $mobile) {
                flex: 100%;
                padding: 0;
                margin: 0 0 25px;
            }

            .item__num {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: transparentize($white, .1);
                font-family: 'OpenSans-Bold';
                color: $black;
            }

            .item__info {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                max-width: 295px;

                @media (max-width: $mobile) {
                    max-width: 100%;
                    margin-top: 10px;
                }

                .info__label {
                    font-family: 'OpenSans-Bold';
                    font-size: .9em;
                }

                .info__text {
                    font-size: .8em;
                }
            }

            .plan__label {
                font-family: 'OpenSans-Bold';
                font-size: .9em;
                color: $summersky;
                padding: 0 0 43px 34px;
                min-height: 91px;
                text-transform: uppercase;

                @media (max-width: $mobile) {
                    padding: 0 0 30px;
                    min-height: 100%;
                }
            }

            .plan__list {
                display: flex;
                flex: 1;
                flex-direction: column;
                padding-left: 29px;
                border-left: 5px solid $white;

                @media (max-width: $mobile) {
                    border: none;
                    padding-left: 0;
                }

                &_item {
                    display: flex;
                    flex-direction: column;

                    & + .plan__list_item {
                        margin-top: 44px;

                        @media (max-width: $mobile) {
                            margin-top: 20px;
                        }
                    }

                    .title {
                        font-family: 'OpenSans-Bold';
                        font-size: .9em;
                        text-transform: uppercase;
                    }

                    .text {
                        font-size: .8em;
                        margin-top: 15px;
                        text-transform: lowercase;

                        @media (max-width: $mobile) {
                            margin-top: 5px;
                        }
                    }
                }

                &.wrap {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .plan__list_item {
                        flex: 50% 0 0;
                        padding-right: 48px;
                        margin-top: 0;

                        @media(max-width: $desctop) {
                            flex: 100%;
                            padding: 0;
                        }

                        & + .plan__list_item {

                            @media(max-width: $desctop) {
                                margin-top: 44px;

                                @media (max-width: $mobile) {
                                    margin-top: 20px;
                                }
                            }
                        }

                        &:nth-child(n+3) {
                            margin-top: 44px;

                            @media (max-width: $mobile) {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }

        &.about-type {

            .plan__item {
                flex: 40% 0 0;
                padding-right: 100px;

                @media(max-width: $desctop) {
                    padding-right: 30px;
                }

                &.wide {
                    flex: 1;
                    padding-right: 0;
                }
            }
        }
    }
}