.b-checkbox {

    
    .checkbox-label {
        display: block;
        position: relative;
        padding-left: 35px;
        color: $white;
        font-size: .8em;

        &::before {
          content: '';
          -webkit-appearance: none;
          background-color: $white;
          border-radius: 3px;
          vertical-align: middle;
          cursor: pointer;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 0;
          margin-top: 3px;
        }
      }

      input[type='checkbox'] {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;

        &:checked + .checkbox-label:before {
        //   background: url('../img/ic-checkbox.svg') no-repeat center transparent;
        }

        &:checked + .checkbox-label:after {
            content: "";
            position: absolute;
            left: 4px;
            top: 0;
            margin-top: 8px;
            display: inline-block;
            height: 7px;
            width: 11px;
            border-left: 2px solid $summersky;
            border-bottom: 2px solid $summersky;
            transform: rotate(-45deg);
        }
      }
}