.b-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid;
    cursor: pointer;

    .collapsible__header {
        position: relative;
        font-family: 'OpenSans-Bold';
        font-size: .8em;
        color: $white;
        text-align: left;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        min-height: 80px;
        padding-right: 35px;

            @media (max-width: $mobile) {
                font-size: .7em;
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 20px;
                height: 10px;
                margin-top: -5px;
                background: url(../img/ic-arrow-down.svg) no-repeat center;
                transition: transform .2s ease-in-out;
            }

            &.active {
                color: $summersky;

                &:after {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                color: $summersky;
            }
      }

      .collapsible__content {
            font-size: .8em;
            max-height: 0;
            overflow: hidden;
            transition: max-height .2s ease-out, padding-bottom .2s ease-out;
            padding-bottom: 0;

            @media (max-width: $mobile) {
                font-size: .7em;
            }

            &.open {
                padding-bottom: 24px;
            }

            p {

                & + p {
                    margin-top: 10px;
                }
            }
      }
}