.b-course__item {
    display: flex !important;
    flex-direction: column;
    width: calc(33% - 10px);
    min-height: 426px;
    background-color: $black;
    border: 5px solid $white;
    cursor: pointer;


    @media (max-width: $desctop) {
        width: calc(50% - 10px);
    }

    @media (max-width: $mobile) {
        width: 100%;
    }

    & + .b-course__item {
        margin-left: 20px;

        @media (max-width: $mobile) {
            margin-left: 0;
        }
    }

    &.blue {
        border: 3px solid $summersky;

        .hold__label {
            background-color: $summersky;
            padding-bottom: 3px;

            .label__item {
                color: $white;

                &.blacked {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }

    &:hover {
        background-color: $summersky;
        border-color: $black;
        color: $black;
        opacity: 1;

        .hold__label {
            background-color: $black;

            .label__item {
                color: $white;

                &.blacked {
                    color: $black;
                    background-color: $summersky;
                }
            }
        }

        .g-button {
            border-color: $black;
            color: $black;
            background-color: $white;
        }
    }

    .hold__label {
        display: flex;
        align-items: center;
        background-color: $white;
        padding-bottom: 5px;
        text-transform: uppercase;

        .label__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 47px;
            flex: 50%;
            font-family: 'OpenSans-Bold';
            font-size: .8em;
            line-height: 1.375;
            color: $black;
            transition: $all-transition;

            &.blacked {
                height: 46px;
                color: $white;
                background-color: $black;
            }
        }
    }

    .hold__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 55px 47px;

        @media (max-width: $mediumDesctop) {
            padding: 30px 20px;
        }

        &.big-padding {
            padding: 70px 36px 50px;

            @media (max-width: $mobile) {
                padding: 30px;
            }
        }

        .block__theme {
            display: flex;
            flex-direction: column;

            .theme__item {
                font-family: 'OpenSans-Regular';
                font-size: .8em;

                & + .theme__item {
                    margin-top: 21px;
                }

                &.bold {
                    font-family: 'OpenSans-Bold';
                    font-size: 24px;
                }
            }
        }

        .block__text {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-family: 'OpenSans-Bold';
            font-size: .8em;

            .text__item {
                text-transform: uppercase;
                margin: 0 18px 9px 0;
            }
        }

        .hold-btn {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}