.b-courses {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media (max-width: $desctop) {
        justify-content: center;
    }

    .slick-list {
        width: 100%;

        .slick-track {

            .slick-slide {
                margin: 0 10px;
            }
        }
    }

    &.tariffs {

        .b-course__item {
            flex: 25% 0 0;
            min-height: 567px;

            @media (max-width: $mobile) {
                flex: 100%;
                min-height: 400px;
            }
        }
    }

}