.b-description {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $summersky;
    padding: 50px 286px 74px;

    @media (max-width: $mediumDesctop) {
        padding: 50px 80px 74px;
    }

    @media (max-width: $mobile) {
        padding: 30px 15px;
    }

    .descrip__item {
        display: flex;
        align-items: center;
        min-height: 236px;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        .hold__img {
            flex: 236px 0 0;
            height: 236px;
            border-radius: 50%;
            background-color: $black;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @media (max-width: $mobile) {
                width: 236px;
            }
        }
    
        .hold__info {
            display: flex;
            flex-direction: column;
            margin-left: 64px;
            color: $black;

            @media (max-width: $mobile) {
                margin: 15px 0 0;
            }
    
            .label {
                font-family: 'OpenSans-Bold';
                font-size: 1.5em;
                padding-bottom: 19px;

                @media (max-width: $mobile) {
                    font-size: 1em;
                    text-align: center;
                    padding-bottom: 10px;
                }
            }
    
            .text {
                font-size: .8em;

                @media (max-width: $mobile) {
                    font-size: .6em;
                    text-align: center;
                }
            }
        }
    }
}