.b-faq {
    padding: 0 100px 75px;

    @media (max-width: $mediumDesctop) {
        padding: 0 50px;
    }

    @media (max-width: $mobile) {
        padding: 0;
    }
    
    .faq__title {
        font-family: 'OpenSans-Bold';
        font-size: 1.5em;
        padding-bottom: 50px;
        text-transform: uppercase;

        @media (max-width: $mobile) {
            padding-bottom: 15px;
        }
    }
}