.b-fast-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 107px;

    @media (max-width: $tablet) {
        padding: 0 0 30px;
    }

    .solution__text {
        font-size: .9em;
        text-transform: lowercase;
        padding-bottom: 15px;

        @media (max-width: $tablet) {
            text-align: center;
            font-size: .7em;
        }
    }

    .solution__label {
        font-family: 'OpenSans-Bold';
        font-size: 1.5em;
        padding-bottom: 38px;

        @media (max-width: $tablet) {
            text-align: center;
            font-size: 1em;
        }
    }
}