footer {
	background-color: $black;

	.holder {
		display: flex;
		justify-content: space-between;
		min-height: 370px;
		padding: 50px 100px;

		@media (max-width: $tablet) {
			padding: 25px 50px;
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			padding: 25px 15px;
		}

		.hold__company {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			flex: 1;
			max-width: 600px;
			box-sizing: border-box;

			@media (max-width: $mobile) {
				max-width: 100%;
			}

			.item__company {
				display: flex;
				flex-direction: column;
				flex: 33.33% 0 0;
				max-width: 200px;
				padding: 0 50px 25px 0;

				@media (max-width: $tablet) {
					flex: 50% 0;
					padding: 0 25px 15px 0;
				}

				@media (max-width: $mobile) {
					padding: 5px;
				}

				.label {
					font-family: 'OpenSans-Bold';
					font-size: .75em;
					text-transform: uppercase;
					padding-bottom: 15px;
				}

				.text {
					font-family: 'OpenSans-Regular';
					font-size: .75em;
				}
			}
		}

		.hold__info {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			@media (max-width: $mobile) {
				align-items: center;
			}

			.contacts {
				display: flex;
				flex-direction: column;

				&__item {
					font-family: 'OpenSans-Semibold';
					font-size: 1.2em;
					line-height: 1.5;

					& + .contacts__item {
						margin-top: 5px;
					}
				}
			}

			.company__info {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-top: 20px;

				@media (max-width: $mobile) {
					align-items: center;
					margin-top: 10px;
				}

				.company__item {
					font-family: 'OpenSans-Regular';
					font-size: .75em;

					& + .company__item {
						margin-top: 5px;
					}
				}
			}

			.agency__info {
				display: flex;
				align-items: center;
				margin-top: 20px;

				@media (max-width: $mobile) {
					flex-direction: column;
					margin-top: 10px;
				}

				.agency__item {
					font-size: .75em;
					text-align: center;
					max-width: 110px;

					& + .agency__item {
						margin-left: 25px;

						@media (max-width: $mobile) {
							margin: 10px 0 0;
						}
					}
				}
			}
		}
	}
}