.b-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    background-color: $black;

    @media (max-width: $mediumDesctop) {
        padding: 50px;
    }

    @media (max-width: $mobile) {
        padding: 30px 15px;
    }

    &.no-padding {
        padding: 0;
    }

    .form__label {
        font-family: 'OpenSans-Bold';
        font-size: 1.2em;
        text-transform: uppercase;
        padding-bottom: 46px;
        text-align: center;

        @media (max-width: $tablet) {
            font-size: 1em;
        }
    }

    .hold__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        @media (max-width: $tablet) {
            flex-direction: column;
        }

        &.column {
            flex-direction: column;

            .form-element {
                width: 100%;
                margin: 0;

                & + .form-element {
                    padding: 25px 0 0;
                }

                &.column {

                    .form-label {
                        font-family: 'OpenSans-Bold';
                        font-size: .8em;
                        text-transform: uppercase;
                        padding-bottom: 10px;
                    }
        
                    .form-element-control {
        
                        .form-select {
                            width: 100%;
                            height: 65px;
                        }
                    }
                }

                .g-button {
                    width: 100%;

                    .text {
                        padding-right: 5px;
                    }
                }

                .form-input {
                    width: 100%;
                    height: 65px;
                    border-radius: 0;
                    border: none;
                    background-color: $white;
                    color: $black;
                    padding: 20px;
                    font-family: 'OpenSans-Regular';
                    font-size: .8em;
                    outline: 0 none;

                    &:focus {
                        outline: 3px solid $summersky;
                    }

                    &::placeholder {
                        font-size: 14px;
                        color: $black;
                    }
                }

                .form-textarea {
                    width: 100%;
                    height: 130px;
                    border-radius: 0;
                    border: none;
                    resize: none;
                    background-color: $white;
                    color: $black;
                    padding: 20px;
                    font-family: 'OpenSans-Regular';
                    font-size: .8em;
                    outline: 0 none;

                    &:focus {
                        outline: 3px solid $summersky;
                    }

                    &::placeholder {
                        font-size: 14px;
                        color: $black;
                    }
                }
            }

            .b-checkbox {
                margin-top: 30px;
            }

            .hold__btn {
                margin-top: 43px;
            }
        }

        .form-element {
            display: flex;
            position: relative;

            @media (max-width: $tablet) {
                justify-content: center;
                width: 100%;
                margin: 0 0 21px;
            }

            & + .form-element {
                padding-left: 25px;

                @media (max-width: $tablet) {
                    padding: 0;
                }
            }

            label.error {
                position: absolute;
                top: 0;
                right: 0;
                color: red;
                font-size: 10px;
                margin-top: 10px;
            }
    
            .form-input {
                width: 295px;
                border: 5px solid $white;
                background-color: $black;
                font-size: .9em;
                color: $white;
                padding: 20px 35px;
                outline: 0 none;
                border-radius: 30px;
                height: 65px;
    
                @media (max-width: $tablet) {
                    width: 100%;
                }

                &::placeholder {
                    font-size: 18px;
                    color: $white;
                    opacity: 1;
                }

                &.wide {
                    width: 400px;

                    @media (max-width: $desctop) {
                        width: 100%;
                    }
                }
            }
    
            .g-button {
                
                @media (max-width: $tablet) {
                    width: 224px;
                    height: 65px;
                    border: 5px solid $white;
                    font-size: .9em;
                }
            }
        }
    }
}