header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    background: $black;
    z-index: 2;
    top: 0;
    height: 97px;

    @media (max-width: $mobile) {
        padding: 15px;
    }

    .holder {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        flex: 1 0;

        @media (max-width: $mobile) {

        }

        .contact-box {
            display: flex;
            align-items: center;

            @media (max-width: $smallMobile) {
                display: none;
            }

            .contact-item {
                display: flex;

                .text {
                    font-family: 'OpenSans-ExtraBold';
                    font-size: 1.2em;
                    line-height: 1.375;
                    white-space: nowrap;

                    @media (max-width: $tablet) {
                        font-size: .9em;
                        line-height: normal;
                    }
                }
            }
        }

        .logo {

            @media (max-width: $smallMobile) {
                display: none;
            }
        }

        .g-button {

            @media (max-width: $mobile) {
                // margin-top: 15px;
            }
        }

        .burger {
            display: none;
            cursor: pointer;
            transition: transform .15s ease-out;

            @media (max-width: $mobile) {
                display: block;
            }

            &.rotate {
                transform: rotate(90deg);
            }
        }
    }
}