.b-main-label {
    
    .holder {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        min-height: 169px;
        padding: 20px 0;

        @media (max-width: $tablet) {
            min-height: 80px;
        }
    }
}