.b-main-content {
    position: relative;
    padding: 50px 100px 70px;
    background: url(../img/bg-greylights.png) no-repeat center;
    background-size: cover;
    min-height: 590px;

    @media (max-width: $mediumDesctop) {
        padding: 50px;
    }

    @media (max-width: $mobile) {
        padding: 30px 15px;
        min-height: 300px;
    }

    &.no-padding {
        padding: 0;
    }

    &.fixed-bg {
        background-attachment: fixed;
    }

    .hold__img {
        display: flex;
        align-items: flex-end;
    }

    .b-social {
        position: absolute;
        bottom: 89px;
        right: 27px;

        @media (max-width: $mobile) {
            bottom: 20px;
        }

        .social__item {

            @media (max-width: $mobile) {
                width: 40px;
                height: 40px;
            }
        }
    }

    .text-video {
        font-family: 'OpenSans-Bold';
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;

        @media (max-width: $mobile) {
            font-size: 1.2em;
            margin-top: 10px;
        }
    }
}