.b-menu {
    display: flex;
    margin: 0 15px;

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: calc(100vh - 97px);
        padding: 90px 0;
        background-color: $black;
        margin: 0;
        position: fixed;
        right: 0;
        top: 97px;
        z-index: 1;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, transform .15s ease-out;
        width: 200px;
        max-width: 90%;

        @media (max-width: $smallMobile) {
            min-height: calc(100vh - 80px);
            top: 80px;
        }
    }

    &.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid transparent;
        transition: opacity .15s ease-in-out;
        cursor: pointer;

        @media (max-width: $tablet) {
            border-bottom: 3px solid transparent;
        }

        & + .menu__item {
            margin-left: 42px;

            @media (max-width: $tablet) {
                margin-left: 25px;
            }

            @media (max-width: $mobile) {
                margin-left: 10px;
            }

            @media (max-width: $smallMobile) {
                margin: 10px 0 0;
            }
        }

        &.active {
            border-bottom: 5px solid $white;

            @media (max-width: $mobile) {
                border-bottom: 3px solid $white;
            }
        }

        &:hover {
            border-color: $white;
            opacity: .9;
        }


        &-link {
            display: flex;
            align-items: center;
            opacity: 1;

            &_name {
                font-family: 'OpenSans-ExtraBold';
                font-size: .9em;
                line-height: 1.389;
                white-space: nowrap;

                @media (max-width: $tablet) {
                    font-size: .7em;
                }
            }
        }
    }
}