.b-program {
    padding: 107px 167px;
    background-color: $black;

    @media (max-width: $mediumDesctop) {
        padding: 50px;
    }

    @media (max-width: $mobile) {
        padding: 30px 15px;
    }

    .program__title {
        font-family: 'OpenSans-Bold';
        font-size: 1.5em;
        padding: 0 0 56px;

        @media (max-width: $mobile) {
            padding: 0 0 10px;
        }
    }
}