.select2-container {

    &--default {
        width: 100% !important;

        .select2-selection {

            &--single {
                display: flex;
                align-items: center;
                height: 65px;
                padding: 20px 60px 20px 20px;
                border-color: $black;

                .select2-selection {

                    &__arrow {
                        top: 50% ;
                        right: 30px;
                        margin-top: -10px;
                        height: 14px;
                        width: 14px;
                        border-left: 4px solid $black;
                        border-bottom: 4px solid $black;
                        transform: rotate(-45deg);
                        
                        b {
                            display: none;
                        }
                    }

                    &__rendered {
                        font-family: 'OpenSans-Bold';
                        font-size: .8em;
                        color: $black;
                        padding: 0;

                        .select2-selection {

                            &__placeholder {
                                font-family: 'OpenSans-Bold';
                                font-size: 16px;
                                text-transform: uppercase;
                                color: $black;
                            }
                        }
                    }
                }
            }


        }
    }

    &--open {

        .select2-dropdown {

            .select2-results {

                &__option {
                    font-family: 'OpenSans-Bold';
                    font-size: .8em;
                    color: $black;
                    padding: 20px;

                    & + .select2-results__option {
                        border-top: 1px solid $black;
                    }

                    &--highlighted {
                        color: $white;
                        background-color: $summersky;
                    }
                }
            }
        }
    }
}
