.b-tabs {
    display: flex;

    .tab-select {

        .tabs {
            display: flex;
            flex-direction: column;
            width: 430px;

            @media (max-width: $mobile) {

            }

            .tab-item {
                display: flex;
                position: relative;
                font-family: 'OpenSans-Bold';
                padding-left: 35px;
                cursor: pointer;

                & + .tab-item {
                    margin-top: 36px;
                }

                &.active {
                    color: $summersky;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        background-color: $black;
                        border: 5px solid $summersky;
                        border-radius: 50%;
                        margin-top: 7px;
                    }
                }
            }
        }
    }

    .tab-content {
        font-size: .8em;
        margin-left: 90px;

        @media (max-width: $mobile) {

        }

        p {
            
            & + p {
                margin-top: 20px;
            }
        }
    }
}

