.b-teachers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -11px;

    @media (max-width: $mobile) {
        display: none;
    }

    .teachers-list__item {
        flex: 33.33% 0 0;
        padding: 0 11px;
        margin-bottom: 28px;

        @media (max-width: $desctop) {
            flex: 50% 0 0;
        }

        &.active {
            display: none;
        }

        &:hover {

            .title {
                color: $summersky;
            }
        }

        .inner {
            display: flex;
            flex: 1;
            height: 160px;
            background-color: $black;
            border: 5px solid $white;
            cursor: pointer;

            .hold__img {
                display: flex;
                flex: 92px 0 0;
            }
    
            .hold__info {
                display: flex;
                flex-direction: column;
                padding: 25px 33px;

                @media (max-width: $desctop) {
                    padding: 30px 15px;
                }
    
                .title {
                    font-family: 'OpenSans-Bold';
                    font-size: .9em;

                    @media (max-width: $mediumDesctop) {
                        font-size: .7em;
                    }
                }
    
                .subtitle {
                    font-family: 'OpenSans-Regular';
                    font-size: .8em;
                    text-transform: uppercase;
                    margin-top: 12px;

                    @media (max-width: $mediumDesctop) {
                        font-size: .6em;
                    }
                }
            }
        }
    }
}