.b-teachers {
    position: relative;
    padding-bottom: 25px;

    @media (max-width: $mobile) {
        padding-bottom: 0;
    }

        .slick-list {
            display: flex;

            .slick-track {
                display: flex;
                align-items: stretch;
    
                .slick-slide {
                    display: flex;
                }
            }
        }
    
        .slick-dots {
            display: flex;
            position: absolute;
            bottom: 35px;
            right: 50%;
            transform: translateX(50%);
    
            li {
                display: flex;
                border-radius: 50%;
    
                & + li {
                    margin-left: 9px;
                }
    
                &.slick-active {
                    background-color: $black;
    
                    button {
                        background-color: $black;
                    }
                }
    
                button {
                    outline: 0 none;
                    font-size: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: none;
                    background-color: $nobel;
                }
            }
        }
    
    .teachers__item {
        display: flex !important;
        background-color: $black;
        border: 5px solid $white;
        transition: border-color .15s ease-in-out;
        cursor: pointer;
        min-height: 100%;

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            background-color: $white;
            color: $black;
            padding: 15px 15px 70px;
            border: none;
        }

        &:hover {
            border-color: $summersky;

            .title {
                color: $summersky;
            }
        }

        .hold__img {
            flex: 286px 0 0;

            @media (max-width: $mobile) {
                display: flex;
                align-items: center;
                flex: unset;
                height: 100%;
            }

            .block__img {

                @media (max-width: $mobile) {
                    display: flex;
                    flex: 105px 0 0;
                    height: 103px;
                    background-color: $black;
                }
            }

            .hold__text {
                display: none;
                flex-direction: column;
                margin-left: 15px;
                width: 100%;

                @media (max-width: $mobile) {
                    display: flex;
                }

                .title {
                    font-family: 'OpenSans-Bold';
                    font-size: .8em;
                }
    
                .subtitle {
                    font-family: 'OpenSans-Semibold';
                    font-size: .7em;
                    margin-top: 5px;
                }
            }
        }

        .hold__info {
            display: flex;
            flex-direction: column;
            padding: 46px 20px 10px;

            @media (max-width: $mobile) {
                padding: 0;
            }

            .title {
                font-family: 'OpenSans-Bold';
                font-size: 1.2em;

                @media (max-width: $mobile) {
                    display: none;
                }
            }

            .subtitle {
                font-family: 'OpenSans-Regular';
                font-size: .8em;
                text-transform: uppercase;
                margin-top: 12px;
                
                @media (max-width: $mobile) {
                    display: none;
                }
            }

            .text {
                font-family: 'OpenSans-Regular';
                font-size: .8em;
                margin-top: 25px;

                @media (max-width: $mobile) {
                    font-size: .7em;
                    margin-top: 20px;
                }
            }
        }
    }
}