.b-modal {
    display: none;
    padding: 70px 100px;
    max-width: 880px;
    border: 5px solid $white;
    background-color: $black;

    @media (max-width: $tablet) { 
        padding: 70px 15px;
    }

    .modal__wrapper {
        display: flex;
        flex-direction: column;

        .hold__title {
            display: flex;
            flex-direction: column;
            padding-bottom: 25px;
            text-align: center;

            .modal__title {
                font-family: 'OpenSans-Bold';
                font-size: 1.5em;
                text-transform: uppercase;

                @media (max-width: $tablet) { 
                    font-size: 1.2em;
                }
            }
        
            .modal__subtitle {
                font-size: .8em;
                margin-top: 10px;
            }
        }
    
        .modal__label {
            font-family: 'OpenSans-Bold';
            font-size: .9em;
            text-transform: uppercase;
            color: $summersky;
            text-align: center;
            padding-bottom: 50px;
        }
    
        .hold__packages {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
    
            .packages__item {
                display: flex;
                flex-direction: column;
                flex: calc(50% - 20px);
                border: 3px solid $summersky;
                min-height: 240px;
                margin: 0 20px 20px 0;
                opacity: 1;

                @media (max-width: $mobile) { 
                    flex: 100%;
                    margin: 0 0 20px;
                }

                &.active {
                    border-color: $black;

                    .hold__label {
                        background-color: $black;


                        .label__item {
                            color: $white;

                            &.blacked {
                                background-color: $summersky;
                            }
                        }
                    }

                    .hold__info {
                        background-color: $summersky;
                        color: $black;
                    }
                }

                &:hover {
                    border-color: $black;

                    .hold__label {
                        background-color: $black;


                        .label__item {
                            color: $white;

                            &.blacked {
                                background-color: $summersky;
                            }
                        }
                    }

                    .hold__info {
                        background-color: $summersky;
                        color: $black;
                    }
                }
    
                .hold__label {
                    display: flex;
                    background-color: $summersky;
                    padding-bottom: 3px;
                    height: 47px;
    
                    .label__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 50% 0;
                        color: $black;
                        font-family: 'OpenSans-Bold';
                        font-size: .8em;
    
                        &.blacked {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
    
                .hold__info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: center;
                    padding: 39px;

                    @media (max-width: $mobile) { 
                        padding: 15px;
                    }
    
                    .info__title {
                        font-family: 'OpenSans-Bold';
                        font-size: 1.2em;
                        padding-bottom: 20px;
                    }
    
                    .info__text {
                        font-size: .8em;
                    }
                }
            }
        }

        .hold__img {
            display: flex;
            justify-content: center;
        }
    
        .hold__btn {
            display: flex;
            justify-content: center;
            margin-top: 60px;
        }
    }

    &.course-form {
        display: none;
        padding: 70px 180px;

        @media (max-width: $tablet) { 
            padding: 70px;
        }

        @media (max-width: $mobile) { 
            padding: 70px 15px;
        }
    }

    &.select-course {
        display: none;
        padding: 70px 160px;

        @media (max-width: $tablet) { 
            padding: 70px;
        }

        @media (max-width: $mobile) { 
            padding: 70px 15px;
        }

        .form-element {
            flex-direction: column;
        }
    }
}

