        <footer id="footer" class="b-footer">
            <div class="holder">
                <div class="hold__company">
                    <div class="item__company">
                        <div class="label">Zemedia</div>
                        <div class="text">Агентство кибермаркетинга</div>
                    </div>
                    <div class="item__company">
                        <div class="label">KAIROS</div>
                        <div class="text">Искусственный интеллект</div>
                    </div>
                    <div class="item__company">
                        <div class="label">НАШИ КЛИЕНТЫ</div>
                        <div class="text">Более 200 предприятий</div>
                    </div>
                    <div class="item__company">
                        <div class="label">Eresh</div>
                        <div class="text">Цифровой ассистент таргетолога</div>
                    </div>
                    <div class="item__company">
                        <div class="label">LAKE</div>
                        <div class="text">Управление рекламой для агентств</div>
                    </div>
                </div>
                <div class="hold__info">
                    <div class="contacts">
                        <a href="#" class="contacts__item">
                            +7 (495) 724 47 43
                        </a>
                        <a href="#" class="contacts__item">
                            info@zemedia.ru
                        </a>
                    </div>
                    <ul class="company__info">
                        <li class="company__item">
                            <strong>ООО «Зэмедиарус»</strong> 
                        </li>
                        <li class="company__item">ИНН 7733240662</li>
                        <li class="company__item">125459, Россия, Москва,</li>
                        <li class="company__item">ул. Туристская, 7, 1 этаж, ком. 2</li>
                    </ul>
                    <div class="agency__info">
                        <div class="agency__item">
                            ZeMediaRus, LLC 2015-2019
                        </div>
                        <div class="agency__item">
                            <img src="img/ic-vk-agency.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      </div>

    <script src="js/bundle.js"></script>
  </body>
</html>
