<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="css/style.bundle.css" />

    <title><%=title%></title>
  </head>
  <body>

    <div class="g-wrapper">
        <header id="header" class="b-header">
            <div class="holder">
                <div class="contact-box">
                    <div class="contact-item">
                        <a href="#" class="text">8 800 550 34 41</a>
                    </div>
                </div>
                <ul class="b-menu">
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">
                            <span class="menu__item-link_name">Курсы</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">
                            <span class="menu__item-link_name">О Нас</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">
                            <span class="menu__item-link_name">Преподаватели</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__item-link">
                            <span class="menu__item-link_name">Контакты</span>
                        </a>
                    </li>
                </ul>
                <div class="g-button">Записаться</div>
                <div class="burger">
                    <img src="img/ic-burger.svg" alt="">
                </div>
            </div> 
        </header>

