<% var data = {
    title: "Заточка"
  }; %>
  
<%= _.template(require('./../includes/header_main.html').default)(data) %>

    <div class="g-title-h1">
       <span class="title">Kурс таргетированная реклама</span>
       <span class="subtitle">Старт 20 июля</span>
    </div>

    <div class="b-description">
        <div class="descrip__item">
            <div class="hold__img" style="background-image: url(img/bg-eduard.png)"></div>
            <div class="hold__info">
                <span class="label">Работайте с рекламой ВКонтакте на профессиональном уровне</span>
                <span class="text">Серьезные объемы с четким осознанием того, что ты делаешь и для чего. Какой винтик подкрутить, если что-то идет не так? На какую педаль нажать, чтобы дать объем?
                </span>
            </div>
        </div>
    </div>

    <section class="b-main-content">
        <div class="b-about-course">
            <div class="about__label">О чем этот курс</div>
            <div class="hold__plan">
                <div class="plan__item">
                    <div class="item__num">1</div>
                    <div class="item__info">
                        <div class="info__label">Принцип Fail Fast в таргетинге</div>
                        <div class="info__text">что это вообще за принцип?!</div>
                    </div>
                </div>
                <div class="plan__item">
                    <div class="item__num">2</div>
                    <div class="item__info">
                        <div class="info__label">Готовим медиаплан</div>
                        <div class="info__text">как логично и обоснованно распределять бюджет и прогнозировать стоимость лида и показов на основании фактов</div>
                    </div>
                </div>
                <div class="plan__item">
                    <div class="item__num">3</div>
                    <div class="item__info">
                        <div class="info__label">Масшатбирование аудитории</div>
                        <div class="info__text">кроссируем и дожимаем аудиторию</div>
                    </div>
                </div>
                <div class="plan__item">
                    <div class="item__num">4</div>
                    <div class="item__info">
                        <div class="info__label">Победа на аукционе</div>
                        <div class="info__text">как выиграть аукцион не переплачивая</div>
                    </div>
                </div>
                <div class="plan__item">
                    <div class="item__num">5</div>
                    <div class="item__info">
                        <div class="info__label">Анализ результатов</div>
                        <div class="info__text">какой метод применять?</div>
                    </div>
                </div>
                <div class="plan__item">
                    <div class="item__num">6</div>
                    <div class="item__info">
                        <div class="info__label">Работа с заказчиком</div>
                        <div class="info__text">как защитить себя от риска недопонимания заказчика и исполнителя</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-video">Посмотрите открытое занятие прямо сейчас</div>
    </section>

    <section class="hold-video">
        <iframe class="video-frame" width="1900" height="600" src="https://www.youtube.com/embed/zh8HIpVzIDs?start=1264" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section class="b-about-course blacked">
        <div class="about__label padding-left">Для кого этот курс?</div>
        <div class="hold__plan about-type">
            <div class="plan__item">
                <span class="plan__label">Продюсерам<br/>и предпринимателям</span>
                <ul class="plan__list">
                    <li class="plan__list_item">
                        <span class="title">Эффективно распределяйте рекламные бюджеты</span>
                        <span class="text">После курса на те же вложения вы получите больше прибыли</span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Увеличивайте продажи за счет грамотной стратегии работы с аудиторией
                        </span>
                        <span class="text">контролируйте работу специалистов, формулируя четкое ТЗ подрядчикам
                        </span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Рабойте со ставками умеючи</span>
                        <span class="text">с пониманием ситуации, а не как карта ляжет</span>
                    </li>
                </ul>
            </div>
            <div class="plan__item wide">
                <span class="plan__label">Таргетологам</span>
                <ul class="plan__list wrap">
                    <li class="plan__list_item">
                        <span class="title">Эффективно распределяйте рекламные бюджеты</span>
                        <span class="text">После курса на те же вложения вы получите больше прибыли</span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Эффективно распределяйте рекламные бюджеты</span>
                        <span class="text">После курса на те же вложения вы получите больше прибыли</span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Увеличивайте продажи за счет грамотной стратегии работы с аудиторией
                        </span>
                        <span class="text">контролируйте работу специалистов, формулируя четкое ТЗ подрядчикам
                        </span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Увеличивайте продажи за счет грамотной стратегии работы с аудиторией
                        </span>
                        <span class="text">контролируйте работу специалистов, формулируя четкое ТЗ подрядчикам
                        </span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Рабойте со ставками умеючи</span>
                        <span class="text">с пониманием ситуации, а не как карта ляжет</span>
                    </li>
                    <li class="plan__list_item">
                        <span class="title">Рабойте со ставками умеючи</span>
                        <span class="text">с пониманием ситуации, а не как карта ляжет</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="b-main-content">
        <div class="b-fast-solution">
            <span class="solution__text">Знакомы с нами давно и вам не нужны лишние буквы?</span>
            <span class="solution__label">Если вы из тех, кто принимает решение быстро</span>
            <div class="g-button white">Оплатить</div>
        </div>
        <div class="b-courses tariffs js-tariffs">
            <a href='#' class="b-course__item blue">
                <div class="hold__label">
                    <span class="label__item">Не ограничено</span>
                    <span class="label__item blacked">7 000 руб.</span>
                </div>
                <div class="hold__info big-padding">
                    <div class="block__theme">
                        <span class="theme__item bold">
                            Базовый
                        </span>
                        <span class="theme__item">
                            8 вебинаров + записи презентации спикеров
                        </span>
                    </div>
                    <div class="hold-btn">
                        <div class="g-button">Выбрать</div>
                    </div>
                </div>
            </a>
            <a href='#' class="b-course__item blue">
                <div class="hold__label">
                    <span class="label__item">89 мест</span>
                    <span class="label__item blacked">14 000 руб.</span>
                </div>
                <div class="hold__info big-padding">
                    <div class="block__theme">
                        <span class="theme__item bold">
                            Групповой
                        </span>
                        <span class="theme__item">
                            8 вебинаров + записи презентации спикеров, разборы РК сокурсников, чек-листы, гайды, таблицы, чат с преподавателями на весь курс + 1 день, сертификат
                        </span>
                    </div>
                    <div class="hold-btn">
                        <div class="g-button">Выбрать</div>
                    </div>
                </div>
            </a>
            <a href='#' class="b-course__item blue">
                <div class="hold__label">
                    <span class="label__item">34 места</span>
                    <span class="label__item blacked">25 000 руб.</span>
                </div>
                <div class="hold__info big-padding">
                    <div class="block__theme">
                        <span class="theme__item bold">
                            Групповой +закрытый чат
                        </span>
                        <span class="theme__item">
                            8 вебинаров + записи презентации спикеров, разборы РК сокурсников, чек-листы, гайды, таблицы, чат с преподавателями на весь курс + 1 день, сертификат
                        </span>
                    </div>
                    <div class="hold-btn">
                        <div class="g-button">Выбрать</div>
                    </div>
                </div>
            </a>
            <a href='#' class="b-course__item blue">
                <div class="hold__label">
                    <span class="label__item">3 места</span>
                    <span class="label__item blacked">70 000 руб.</span>
                </div>
                <div class="hold__info big-padding">
                    <div class="block__theme">
                        <span class="theme__item  bold">
                            Индивидуальный
                        </span>
                        <span class="theme__item">
                            8 вебинаров + записи презентации спикеров, разборы РК сокурсников, чек-листы, гайды, таблицы, чат с преподавателями на весь курс + 1 день, сертификат
                        </span>
                    </div>
                    <div class="hold-btn">
                        <div class="g-button">Выбрать</div>
                    </div>
                </div>
            </a>
        </div>
    </section>
 
    <!-- <section class="b-program">
        <div class="program__title">Программа</div>
        <div class="b-tabs">
            <div class="tab-select">
                <div class="tab-label"></div>
                <ul class="tabs">
                    <li class="tab-item active" data-tab="plan">
                        Медиапланирование.<br/>Лестница Ханта. Пирамида Маслоу
                    </li>
                    <li class="tab-item" data-tab="creative">
                        Посадочная страница. Креатив
                    </li>
                    <li class="tab-item" data-tab="architect">
                        Архитектура рекламной кампании
                    </li>
                    <li class="tab-item" data-tab="test">
                        Тестирование
                    </li>
                    <li class="tab-item" data-tab="scale">
                        Масштабирование. Горячие и теплые. CPM
                    </li>
                    <li class="tab-item" data-tab="cross">
                        Дожим и кроссировка
                    </li>
                    <li class="tab-item" data-tab="analytics">
                        Аналитика РК
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="plan" style="display: block;">
                <p>
                    Вы услышите как грамотно построить первое общение заказчик-таргетолог на основании элементарной арифметики продвижения, продаж и окупаемости. Таблица с неоспоримыми формулами для первого же визави.
                </p>
                <p>
                    Вы усвоите базу Метода Эдуарда Мухина. Все дальнейшие этапы прохождения рекламной кампании мы будем разбирать с точки зрения температуры ЦА, то есть готовности потенциальных покупателей совершить целевое действие.
                </p>
                <p>
                    А начнем мы применять полученные знания сразу в практической части этой лекции при составлении и расчете Медиаплана. Погоняем прогнозатор, научимся составлять стратегию, которая будет работать на вас не один месяц.
                </p>
            </div>
            <div class="tab-content" id="creative" style="display: none;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi accusantium rerum earum placeat eum! Nam, sapiente. Eligendi, at! Pariatur et nobis dolore consequuntur recusandae corporis quaerat numquam, repudiandae eius sint.
                </p>
            </div>
            <div class="tab-content" id="architect" style="display: none;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi repellat incidunt, maiores officiis recusandae culpa, rem cupiditate rerum voluptatum quasi amet, asperiores et quibusdam est commodi nisi eaque ex.
                </p>
            </div>
            <div class="tab-content" id="test" style="display: none;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia id porro deserunt rerum, incidunt at illo nulla doloremque vero quia animi, accusantium quas placeat. Eos distinctio quidem autem eveniet facere.
                </p>
            </div>
            <div class="tab-content" id="scale" style="display: none;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, reprehenderit. Iusto, nemo, excepturi voluptatibus quia inventore nobis assumenda doloribus hic temporibus molestias sit itaque provident voluptates ullam! Aliquam, temporibus eligendi?
                </p>
            </div>
            <div class="tab-content" id="cross" style="display: none;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias architecto distinctio veniam nostrum repellat iusto alias quia, quibusdam assumenda dolorum ratione nesciunt excepturi? Laborum, minima necessitatibus fuga assumenda recusandae totam.
                </p>
            </div>
            <div class="tab-content" id="analytics" style="display: none;">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis minima in reprehenderit iure quasi cum ipsa quis. Possimus suscipit impedit, alias error ea illo dicta modi sint? Sed, laborum consectetur?
                </p>
            </div>
        </div>
    </section> -->

    <div class="b-program">
        <div class="program__title">Программа</div>
        <div class="hold-program">
            <div class="b-collapse">
                <div class="collapsible__header">Медиапланирование. Лестница Ханта. Пирамида Маслоу</div>
                <div class="collapsible__content">
                   <p>
                        Вы услышите как грамотно построить первое общение заказчик-таргетолог на основании элементарной арифметики продвижения, продаж и окупаемости. Таблица с неоспоримыми формулами для первого же визави.
                   </p>
                   <p>
                        Вы усвоите базу Метода Эдуарда Мухина. Все дальнейшие этапы прохождения рекламной кампании мы будем разбирать с точки зрения температуры ЦА, то есть готовности потенциальных покупателей совершить целевое действие.
                    </p>
                    <p>
                        А начнем мы применять полученные знания сразу в практической части этой лекции при составлении и расчете Медиаплана. Погоняем прогнозатор, научимся составлять стратегию, которая будет работать на вас не один месяц.
                    </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">Посадочная страница. Креатив</div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">
                    Архитектура рекламной кампании
                </div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">Тестирование</div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">Масштабирование. Горячие и теплые. CPM</div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">Дожим и кроссировка</div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
            <div class="b-collapse">
                <div class="collapsible__header">Аналитика РК</div>
                <div class="collapsible__content">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem sit ipsa exercitationem ab officiis, accusantium accusamus? Saepe, officiis quisquam qui nemo error ipsa fugit veniam voluptatem beatae, repellat facere sit.
                   </p>
                </div>
            </div>
        </div>
    </div>

    <section class="b-main-content fixed-bg" style="background-image: url(img/bg-faq.png);">
        <div class="b-faq">
            <div class="faq__title">Faq</div>
            <div class="hold-question">
                <div class="b-collapse">
                    <div class="collapsible__header">В каком формате?</div>
                    <div class="collapsible__content">Два занятия в неделю по установленной программе. В конце каждого модуля вебинар разборов и ответов на вопросы (для пакетов групповой и индивидуальный).Доступ к курсу останется навсегда. Будет чат, в котором можно обсудить оперативные вопросы и пообщаться.
                    </div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">Сертификат?</div>
                    <div class="collapsible__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, laudantium. Blanditiis eveniet officiis consequuntur saepe natus temporibus! Voluptatibus cum, quod itaque debitis aperiam provident, voluptate veniam ratione maxime quae suscipit.</div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">
                        Лениво, нет времени… а вот в следующий раз, тогда — да
                    </div>
                    <div class="collapsible__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus earum quam, eveniet qui a nisi autem labore tempore, doloribus iusto inventore quos, assumenda veniam ab quis deserunt odit ipsum dolorem?</div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">Дорого / дешево (не знаю, какой пакет выбрать)</div>
                    <div class="collapsible__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum reprehenderit quaerat illum, ipsum labore reiciendis sed similique consequatur sapiente? Dolore, ducimus voluptatem a doloremque quasi et deserunt reiciendis expedita odit!</div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">Я изучаю ваши материалы и понимаю, что для меня это пока сложно. Боюсь затупить. Может, я не готов(а)?</div>
                    <div class="collapsible__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eos, error voluptatem maiores quibusdam velit sit iure inventore blanditiis saepe totam recusandae officiis modi perspiciatis. Porro quasi aliquid nemo laudantium!</div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">Количество мест</div>
                    <div class="collapsible__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam sapiente distinctio delectus id illum quasi, rerum ratione iste velit autem maiores ex, explicabo modi repellat molestias nemo doloremque fugit eum!</div>
                </div>
                <div class="b-collapse">
                    <div class="collapsible__header">Я уже прошел(а) курс по таргету. Мне надо?</div>
                    <div class="collapsible__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem aut laudantium necessitatibus molestias! Ipsa laudantium eveniet numquam, officia in velit. Incidunt sapiente porro maxime corporis adipisci possimus ipsa dolor consectetur.</div>
                </div>
            </div>
        </div>
    </section>

    <div class="g-title-h1 blue">
        <span class="title">С нами?</span>
    </div>

    <section class="b-form">
        <div class="form__label">Зарегистрируйся сейчас и получи чек-лист ... на почту</div>
        <div class="hold__form">
            <div class="form-element">
                <input type="text" class="form-input" placeholder="Ваше имя" />
            </div>
            <div class="form-element">
            <input type="text" class="form-input wide" placeholder="Email" />
            </div>
            <div class="form-element">
                <a href="#" class="g-button">Записаться</a>
            </div>
        </div>
    </section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
