<% var data = {
    title: "Заточка"
  }; %>
  
<%= _.template(require('./../includes/header_main.html').default)(data) %>

    <div id="modal-course" class="b-modal">
        <div class="modal__wrapper">
            <div class="hold__title">
                <span class="modal__title">
                    Курс «Дисциплина таргетированной рекламы»
                </span>
            </div>
            <span class="modal__subtitle"></span>
            <span class="modal__label">Выберите пакет</span>
            <div class="hold__packages">
                <a href="#" class="packages__item active">
                    <div class="hold__label">
                        <span class="label__item">не ограничено</span>
                        <span class="label__item blacked">7 000 руб.</span>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">Базовый</div>
                        <div class="info__text">8 вебинаров + записи презентации спикеров</div>
                    </div>
                </a>
                <a href="#" class="packages__item">
                    <div class="hold__label">
                        <span class="label__item">89 мест</span>
                        <span class="label__item blacked">14 000 руб.</span>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">Групповой</div>
                        <div class="info__text">базовый + разборы РК, чат с преподавателями</div>
                    </div>
                </a>
                <a href="#" class="packages__item">
                    <div class="hold__label">
                        <span class="label__item">34 места</span>
                        <span class="label__item blacked">25 000 руб.</span>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">Групповой - чат</div>
                        <div class="info__text">базовый + разборы РК, чат с преподавателями</div>
                    </div>
                </a>
                <a href="#" class="packages__item">
                    <div class="hold__label">
                        <span class="label__item">34 места</span>
                        <span class="label__item blacked">70 000 руб.</span>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">Индивидуальный</div>
                        <div class="info__text">базовый + разборы РК, чат с преподавателями</div>
                    </div>
                </a>
            </div>
            <div class="hold__btn">
                <a href="#" class="g-button hide-modal">Оплатить</a>
            </div>
        </div>
    </div>

    <div id="course-form" class="b-modal course-form">
        <div class="modal__wrapper">
            <div class="hold__title">
                <span class="modal__title">
                    Базовый пакет
                </span>
                <span class="modal__subtitle">Курс «Дисциплина таргетированной рекламы»</span>
            </div>
            <span class="modal__label">Заполните форму</span>
            <div class="b-form no-padding">
                <div class="hold__form column">
                    <div class="form-element">
                        <input type="text" class="form-input" placeholder="Ваше имя" />
                    </div>
                    <div class="form-element">
                        <input type="text" class="form-input" placeholder="Email" />
                    </div>
                    <div class="form-element">
                        <textarea class="form-textarea" placeholder="Комментарий" maxlength="1000"></textarea>
                    </div>
                    <label class="b-checkbox">
                        <input type="checkbox" />
                        <span class="checkbox-label">Согласен с условиями использования формы заявки и политикой конфиденциальности лица, разместившего форму заявки.</span>
                    </label>

                    <div class="hold__btn">
                        <a href="#" class="g-button">Оплатить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="select-course" class="b-modal select-course">
        <div class="modal__wrapper">
            <div class="hold__title">
                <span class="modal__title">
                    выберите курс
                </span>
                <span class="modal__subtitle"></span>
            </div>
            <span class="modal__label">оставьте свои контакты<br/>или напишите zemedia во вконтакте</span>
            <div class="b-form no-padding">
                <div class="hold__form column">
                    <div class="form-element column">
                        <div class="form-label">
                            Хочу на курс
                        </div>
                        <div class="form-element-control">
                            <select class="form-select js-select2">
                                <option value=""></option>
                                <option value="one">Дисциплина таргетированной рекламы</option>
                                <option value="two">Дисциплина не таргетированной рекламы</option>
                                <option value="three">Не дисциплина не таргетированной не рекламы</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-element">
                        <a href="" class="g-button change-modal">Оставлю контакты</a>
                    </div>
                    <div class="form-element">
                        <a href="" class="g-button">
                            <span class="text">написать в</span>
                            <img src="img/ic-vkontakte.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="course-form-contacts" class="b-modal select-course"> 
        <div class="modal__wrapper">
            <div class="hold__title">
                <span class="modal__title">
                    Добро пожаловать в Zemedia!
                </span>
                <span class="modal__subtitle"></span>
            </div>
            <span class="modal__label">Очень скоро мы перезвоним<br/>и расскажем все детали</span>
            <div class="b-form no-padding">
                <div class="hold__form column">
                    <div class="form-element column">
                        <div class="form-label">
                            Хочу на курс
                        </div>
                        <div class="form-element-control">
                            <select class="form-select js-select2">
                                <option value=""></option>
                                <option value="one">Дисциплина таргетированной рекламы</option>
                                <option value="two">Дисциплина не таргетированной рекламы</option>
                                <option value="three">Не дисциплина не таргетированной не рекламы</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-element">
                        <input type="text" class="form-input" placeholder="ВАШЕ ИМЯ" />
                        <label class="error">ошибочка</label>
                    </div>
                    <div class="form-element">
                        <input type="text" class="form-input" placeholder="+7" />
                    </div>
                    <div class="form-element">
                        <button type="submit" class="g-button white">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="finish" class="b-modal"> 
        <div class="modal__wrapper">
            <div class="hold__title">
                <span class="modal__title">
                    Добро пожаловать в Zemedia!
                </span>
                <span class="modal__subtitle"></span>
            </div>
            <span class="modal__label">Очень скоро мы перезвоним<br/>и расскажем все детали</span>
            <div class="hold__img">
                <img src="img/ic-applause.svg" alt="">
            </div>
        </div>
    </div>

    <div class="g-title-h1">
        Курсы
    </div>

    <section class="b-main-content">
        <div class="b-courses js-courses">
            <a href="#modal-course" data-fancybox class="b-course__item">
                <div class="hold__label">
                    <span class="label__item">Старт 20 июля</span>
                    <span class="label__item blacked">от 7 000 руб.</span>
                </div>
                <div class="hold__info">
                    <div class="block__theme">
                        <span class="theme__item">
                            Управление сложными проектами с большим бюджетом
                        </span>
                        <span class="theme__item bold">
                            Дисциплина таргетированной рекламы
                        </span>
                    </div>
                    <div class="block__text">
                        <span class="text__item">8 Уроков</span>
                        <span class="text__item">36 Часов</span>
                        <span class="text__item">Сертификат</span>
                    </div>
                </div>
            </a>
            <a href="#" class="b-course__item">
                <div class="hold__label">
                    <span class="label__item">Старт 20 июля</span>
                    <span class="label__item blacked">от 7 000 руб.</span>
                </div>
                <div class="hold__info">
                    <div class="block__theme">
                        <span class="theme__item">
                            Управление сложными проектами с большим бюджетом
                        </span>
                        <span class="theme__item bold">
                            Дисциплина таргетированной рекламы
                        </span>
                    </div>
                    <div class="block__text">
                        <span class="text__item">8 Уроков</span>
                        <span class="text__item">36 Часов</span>
                        <span class="text__item">Сертификат</span>
                    </div>
                </div>
            </a>
            <a href="#" class="b-course__item">
                <div class="hold__label">
                    <span class="label__item">Старт 20 июля</span>
                    <span class="label__item blacked">от 7 000 руб.</span>
                </div>
                <div class="hold__info">
                    <div class="block__theme">
                        <span class="theme__item">
                            Управление сложными проектами с большим бюджетом
                        </span>
                        <span class="theme__item bold">
                            Дисциплина таргетированной рекламы
                        </span>
                    </div>
                    <div class="block__text">
                        <span class="text__item">8 Уроков</span>
                        <span class="text__item">36 Часов</span>
                        <span class="text__item">Сертификат</span>
                    </div>
                </div>
            </a>
        </div>
    </section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
