<% var data = {
    title: "Заточка"
  }; %>
  
<%= _.template(require('./../includes/header.html').default)(data) %>


    <div class="g-title-h1">
      Корпортавный университет ZEMEDIA
    </div>


    <section class="b-main-content no-padding" style="background-image: url(img/bg-index.png)">
        <div class="hold__img">
            <img src="img/bg-eduard.png" alt="">
        </div>
        <div class="b-social">
            <a href="#" class="social__item">
                <img src="img/ic-vk.svg" alt="">
            </a>
            <a href="#" class="social__item">
                <img src="img/ic-telegram.svg" alt="">
            </a>
            <a href="#" class="social__item">
                <img src="img/ic-vk.svg" alt="">
            </a>
        </div>
    </section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
