<% var data = {
    title: "Заточка"
  }; %>
  
<%= _.template(require('./../includes/header_main.html').default)(data) %>


    <div class="g-title-h1">Преподаватели</div>

    <section class="b-main-content">
      <div class="b-teachers">
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-eduard-small.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Эдуард Мухин</span>
                <span class="subtitle">Директор<br/>и основатель ZeMedia</span>
                <span class="text">
                    Создатель сервисов ERESH и KAIROS. Сервисы Эдуарда Мухина освобождают таргетолога от рутинных задач и позволяют выигрывать аукцион, без переплат.
                    Автор курса «Дисциплина таргетированной рекламы. Пошаговое обучаение нестандартному подходу к настройке рекламы. Этот метод отличается высокой скоростью продвижения за счет осознанного применения маркетинговых знаний, он позволяет оптимально распределять бюджет и экономить время за счет привлечения искусственного интеллекта. 
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Руслан Ягудин</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Тимур Беглов</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Александр Метт</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Евгений Голубев</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Сергей Козлов</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
        <div class="teachers__item">
            <div class="hold__img">
                <div class="block__img">
                    <img src="img/bg-bondarchuk.png" alt="">
                </div>
                <div class="hold__text">
                    <div class="title">Эдуард Мухин</div>
                    <div class="subtitle">Директор и основатель ZeMedia</div>
                </div>
            </div>
            <div class="hold__info">
                <span class="title">Евгений Бондарчук</span>
                <span class="subtitle">Универсальный солдат в сфере Digital</span>
                <span class="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatibus delectus eaque pariatur ex explicabo perferendis, quos assumenda rem vitae iure. Ut, eos aperiam sed libero illum animi ipsa? Iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quod necessitatibus, pariatur, totam error nulla ea omnis excepturi vitae quos et ipsum molestias esse, ratione ducimus blanditiis iure vel! Amet?
                </span>
            </div>
        </div>
      </div>
      <div class="b-teachers-list">
        <div class="teachers-list__item active" data-position=1>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-mukhin.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Эдуард Мухин</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=2>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-yagudin.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Руслан Ягудин</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=3>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-beglov.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Тимур Беглов</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=4>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-mett.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Александр Метт</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=5>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-golubev.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Евгений Голубев</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=6>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-kozlov.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Сергей Козлов</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
        <div class="teachers-list__item" data-position=7>
            <div class="inner">
                <div class="hold__img">
                    <img src="img/bg-bondarchuk_small.png" alt="">
                </div>
                <div class="hold__info">
                    <span class="title">Евгений Бондарчук</span>
                    <span class="subtitle">Универсальный солдат в сфере Digital</span>
                </div>
            </div>
        </div>
      </div>
    </section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
