.g-wrapper {
    margin-top: 97px;
}

.g-container {
    min-width: 320px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

.g-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 224px;
    height: 65px;
    border: 5px solid $white;
    border-radius: 30px;
    cursor: pointer;
    transition: $all-transition;
    padding: 15px;
    font-family: 'OpenSans-ExtraBold';
    font-size: .9em;
    line-height: 1.389 ;
    font-weight: $f-extrabold;
    text-align: center;
    color: $white;
    box-sizing: border-box;
    outline: 0 none; 
    white-space: nowrap;
    text-transform: uppercase;
    opacity: 1 !important;

    @media (max-width: $tablet) {
        width: 180px;
        height: 50px;
        font-size: .7em;
        line-height: normal;
        border: 3px solid $white;
    }

    &:hover {
        border-color: $black;
        background-color: $white;
        color: $black;
    }

    &.white {
        border-color: $black;
        background-color: $white;
        color: $black;

        &:hover {
            border-color: $white;
            background-color: $black;
            color: $white;
        }
    }
}

.g-title-h1, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	font-family: 'OpenSans-Bold';
    font-size: 3.250em;
    line-height: 1.369;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    min-height: 169px;
    padding: 20px 15px;

    @media (max-width: $mobile) {
        font-size: 1.5em;
        line-height: normal;
        min-height: 80px;
    }

    &.blue {
        background-color: $summersky;
    }

    .title {
        font-size: inherit;
    }

    .subtitle {
        font-size: 24px;
        text-transform: uppercase;
        color: $summersky;
        padding: 15px 0;

        @media (max-width: $mobile) {
            font-size: 20px;
        }
    }
}

.g-title-h2, h2 {

}

.g-title-h3, h3 {

}

// fancybox
.fancybox-content {
    padding: 0;
}

.fancybox-button svg {
    display: none;
}

.fancybox-button {
    background: url(../img/ic-close.svg) no-repeat center;
    opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
    top: 18px;
    right: 18px;
}