@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('../fonts/OpenSans-Regular'), local('OpenSans-Regular'),
	url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular.woff') format('woff'),
	url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: $f-regular;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-SemiBold.eot');
	src: local('../fonts/OpenSans-SemiBold'), local('OpenSans-SemiBold'),
	url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-SemiBold.woff') format('woff'),
	url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: $f-semibold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('../fonts/OpenSans-Bold'), local('OpenSans-Bold'),
	url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Bold.woff') format('woff'),
	url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: $f-bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('../fonts/OpenSans-ExtraBold.eot');
	src: local('../fonts/OpenSans-ExtraBold'), local('OpenSans-ExtraBold'),
	url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
	url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: $f-extrabold;
	font-style: normal;
}


html {
    min-height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100%;
    background: transparent;
	font-family: 'OpenSans-Regular';
	font-size: $font-default;
	line-height: normal;
    color: $white;
}

a {
	transition: $all-transition;
	color: $white;

	&:hover {
		opacity: .8;
		text-decoration: none;
  	}
}

input, textarea {

	&::placeholder {

	}
}

/* Убираем крестик на браузерах в инпут */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Скрываем надпись из placeholder при клике */
input::-webkit-input-placeholder {
	color: $black;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
/* Firefox < 19 */
input:-moz-placeholder {
	color: $black;
}
input:focus:-moz-placeholder {
	color: transparent;
}
/* Firefox > 19 */
input::-moz-placeholder {
	color: $black;
}
input:focus::-moz-placeholder {
	color: transparent;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
	color: $black;
} 
input:focus:-ms-input-placeholder {
	color: transparent;
} 
/* Если не вмещается placeholder */
input[placeholder] {
	text-overflow: ellipsis;
}

input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}