// colors
$white: #fff;
$black: #000;
$summersky: #44C7F0;
$silver: #C4C4C4;
$nobel: #9F9797;


// fonts
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-extrabold: 800;

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmallMobile: 320px;
$smallMobile: 414px;
$mobile: 767px;
$tablet: 991px;
$desctop: 1140px;
$mediumDesctop: 1367px;
$largeDesctop: 1920px;